.header
  background-color: #ffffff
  &-top 
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 40px
    padding-top: 40px
.search
  display: flex
  &__input
    width: 350px
    height: 40px
